body {
  background-color: #000 !important;
  color: #fff;
}

a,
a:hover,
a:focus {
  color: #fff;
}

main,
.main-content,
.region-content,
.region-highlighted,
.dialog-off-canvas-main-canvas {
  background-color: transparent !important;
}

.navbar,
#navbar-main,
#navbar-top,
.navbar.bg-primary,
.navbar[class*=bg-] {
  background-color: #000 !important;
  border: none !important;
}

#navbar-top {
  display: none;
}

.navbar-brand {
  color: #fff;
  font-weight: 700;
  font-size: 50px;
  line-height: 1;
  padding: 0;
}
@media (min-width: 768px) {
  .navbar-brand {
    font-size: 60px;
  }
}
@media (min-width: 1024px) {
  .navbar-brand {
    font-size: 90px;
  }
}

.site-slogan {
  font-weight: 400;
}

.navbar-toggler {
  display: none !important;
}

.responsive-menu-toggle-icon .label,
#toggle-icon .label {
  display: none;
}

.responsive-menu-toggle {
  display: inline-block;
  position: absolute;
  right: 0;
}

#off-canvas:not(.mm-menu) {
  display: none;
}

@media (max-width: 991.98px) {
  #superfish-main,
  ul.sf-menu {
    display: none;
  }
}
@media (min-width: 992px) {
  .responsive-menu-toggle,
  #toggle-icon {
    display: none;
  }
}
.dialog-off-canvas-main-canvas,
.main-container,
.layout-container,
.region,
.region-content,
.block,
.row,
main,
.col,
.well,
.card,
.views-element-container {
  background-color: transparent !important;
}

ul.sf-menu.sf-style-default {
  float: none;
  margin: 0;
  padding: 0;
  background: transparent;
}

#superfish-main > li,
ul.sf-menu.sf-style-default li {
  background: #fff !important;
  color: #000 !important;
  margin: 0 0 0 6px;
  font-size: 18px;
  font-weight: 300;
}

#superfish-main a,
#superfish-main a:visited,
ul.sf-menu.sf-style-default a,
ul.sf-menu.sf-style-default a:visited,
ul.sf-menu.sf-style-default span.nolink {
  border: 0 !important;
  padding: 6px 12px;
  text-decoration: none;
  color: #000 !important;
}

#superfish-main > li:hover,
#superfish-main > li.sfHover,
#superfish-main a:hover,
#superfish-main a:focus,
#superfish-main a.is-active,
ul.sf-menu.sf-style-default li:hover,
ul.sf-menu.sf-style-default a:hover {
  background: #000 !important;
  color: #fff !important;
}
